<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.demo.dao.BuycarMapper">
  <resultMap id="BaseResultMap" type="com.shop.demo.pojo.Buycar">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="productid" jdbcType="VARCHAR" property="productid" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, productid, openid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from buycar
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByopenid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from buycar
    where openid = #{openid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from buycar
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByopenid" parameterType="String">
    delete from buycar
    where openid = #{openid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.shop.demo.pojo.Buycar">
    insert into buycar (id, productid, openid
      )
    values (#{id,jdbcType=INTEGER}, #{productid,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shop.demo.pojo.Buycar">
    insert into buycar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productid != null">
        productid,
      </if>
      <if test="openid != null">
        openid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.demo.pojo.Buycar">
    update buycar
    <set>
      <if test="productid != null">
        productid = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.demo.pojo.Buycar">
    update buycar
    set productid = #{productid,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>