<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.demo.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.shop.demo.pojo.Customer">
    <id column="openid" jdbcType="VARCHAR" property="openid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from customer
    where openid = #{openid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shop.demo.pojo.Customer">
    insert into customer (openid)
    values (#{openid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.demo.pojo.Customer">
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        openid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>